<h1 class="text-center p-3 border border-warning">Todo List</h1>

<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
<h3 class="bg-secondary text-warning p-2">Todos</h3>
<div *ngIf="this.todos.length===0; else elseBlock"><p class="mx-3"><b>No Todo to display!</b></p></div>
<ng-template #elseBlock>
    <div *ngFor="let todo of todos; index as i">
        <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>
    </div>
</ng-template>

