
<div class="container p-3">
    <div class="jumbotron">
        <h1 class="display-4">About Angular Todo-list</h1>
        <p class="lead">This is a simple todo app that can store your todos in browser and save them untill you clear your browser data.</p>
        <hr class="my-4">
        <p>It uses Angular Single Page Architecture that doesn't reload the pages.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://github.com/subrata797979/angularTodoList-Laptop-.git" role="button">Git Link</a>
        </p>
    </div>
</div>